<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Jawa Trader</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/bootstrap-social/bootstrap-social.css" />
    <link rel="stylesheet" type="text/css" href="/bootstrap-sweetalert/lib/sweet-alert.css" />
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
     <script src="/bootstrap-sweetalert/lib/sweet-alert.js"></script>
    <script>
      Stripe.setPublishableKey('pk_test_JdSjoyLLpeq1JQp2HrXfogR6');
    </script>
    <script src="http://cdn.rawgit.com/laurihy/angular-payments/2472bc9befa256780d106a8e53a9dea12b7341ed/lib/angular-payments.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">
    <navbar></navbar>
    <div id="main" ui-view></div>
</body>
</html>
