<div class="product-container">
  <div>
    <h1>Admin Panel</h1>
      <div class="cb" ng-click="showDetails = 'orders'">Orders</div>
      <div class="cb" ng-click="showDetails = 'users'">Users</div>
      <div class="cb" ng-click="showDetails = 'products'">Products</div>

    <div class="panel panel-info" ng-show="(showDetails=='orders')">
        <div class="panel-heading">
          <h3 class="panel-title">Orders</h3>
        </div>
        <div class="panel-body" ng-repeat="order in orders">
          <order-item order="order"></order-item>
        </div>
    </div>

    <div class="panel panel-info" ng-show="(showDetails=='users')">
        <div class="panel-heading">
          <h3 class="panel-title">users</h3>
        </div>
        <div class="panel-body" ng-repeat="user in users">
          <user-item user="user"></user-item>
        </div>
    </div>

      <div class="panel panel-info" ng-show="(showDetails=='products')">
          <div class="panel-heading">
              <h3 class="panel-title">Product Management</h3>
          </div>
          <div  ng-repeat="product in products | orderBy:'name'">
            <product-item product="product"></product-item>
          </div>
      </div>




  </div>
</div>

