<div class="product-container">
    <div>
        <h1>Admin Panel</h1>
        <ul class="nav nav-pills">
            <li class="cb" ng-click="showDetails = 'orders'">
                <a>Orders</a>
            </li>
            <li class="cb" ng-click="showDetails = 'users'">
                <a>Users</a>
            </li>
            <li class="cb" ng-click="showDetails = 'products'">
                <a>Products</a>
            </li>
        </ul>


        <div class="panel panel-info" ng-show="(showDetails=='orders')">
            <div class="panel-heading">
                <h3 class="panel-title">Orders</h3>
            </div>
            <div class="row">
                    <div class="col-xs-2" style="margin: 30px">
                        <label for="filter">Filter By Status</label>
                        <select name="filter" id="filter" class="form-control" ng-model="sortBy">
                            <option value="">All</option>
                            <option value="cart">Cart</option>
                            <option value="created">Created</option>
                            <option value="processing">Processing</option>
                            <option value="completed">Completed</option>
                            <option value="cancelled">Cancelled</option>
                        </select>
                    </div>
            </div>
            <div class="panel-body" ng-repeat="order in orders | filter: sortBy ">
                <order-item order="order"></order-item>
            </div>
        </div>

        <div class="panel panel-info" ng-show="(showDetails=='users')">
            <div class="panel-heading">
                <h3 class="panel-title">Users</h3>
            </div>
            <div class="panel-body" ng-repeat="user in users">
                <user-item user="user"></user-item>
            </div>
        </div>

        <div class="panel panel-info" ng-show="(showDetails=='products')">
            <div class="panel-heading">
                <h3 class="panel-title">Product Management</h3>
            </div>
            <div class="container">
                <input id='search' class="glyphicon glyphicon-search product-search" type="text" placeholder="Search" ng-model="productSearch">
            </div>

            <div  ng-repeat="product in products | orderBy:'name' | filter: productSearch ">
                <div class = 'row container'>
                    <h3>{{product.name}}</h3>
                    <ul class="nav nav-pills">
                        <li> <button class ="btn-danger" ng-click="deleteProduct(product)">Delete Item</button></li>
                        <li> <button class ="btn-warning" >Photo Management</button></li>
                        <li> <button ng-hide="product.category.length==0" class ="btn-info" ng-click="categoryManagement(product.name)">Category Management</button></li>
                        <li> <button ng-show="product.category.length==0" class ="btn-info" ng-click="addCategory(product)">Add Category</button></li>

                    </ul>
                </div>
                <category-edit categories='product.category' id='product._id' ng-hide="product.name != catEdit"></category-edit>
                <product-item  product="product"></product-item>

            </div>
        </div>




    </div>
</div>

