
<!--<a ui-sref="orderDetail({ id: order._id })">order #:{{order._id}}</a>-->
<!--<a ui-sref="userDetail({ id: order.user })">user:{{order.user}}</a>-->
<div class="container">
   <p><i>Click Any Property Value To Edit</i></p>

    <table border="1" class="table table-hover">
        <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(key,value) in product" ng-if="value | isntArray">

            <td>{{key}}</td>
            <td>
                <span ng-click="editing = true; original=value" ng-hide="editing" ng-bind="value"></span>
                <input ng-model="value" ng-show="editing" />
                <button class= "btn-success" ng-click="editProduct(product._id, key, value); editing=false" ng-show="editing">ok</button>
                <button class ="btn-danger" ng-show="editing" ng-click="editing = false; value=original">Cancel</button>
            </td>

        </tr>
        </tbody>
    </table>
</div>






