
    <!--<a ui-sref="orderDetail({ id: order._id })">order #:{{order._id}}</a>-->
    <!--<a ui-sref="userDetail({ id: order.user })">user:{{order.user}}</a>-->
    <div class="container">
        <h3>{{product.name}}</h3>
        <table border="1" class="table table-hover">
            <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key,value) in product">
                <td>{{key}}</td>
                <td>
                    <span ng-click="editing = true" ng-hide="editing" ng-bind="value"></span>
                    <input ng-model="value" ng-show="editing" />
                    <button ng-click="editProduct(product._id, key, value); editing=false"  ng-show="editing">ok</button>
                </td>
            </tr>
            </tr>
            </tbody>
        </table>
    </div>






