
<div class = col-lg-3 >
    <h1>
        <img src="{{product.image}}" alt="{{ product.name }}" height="42" width="42">
        <a ui-sref='productDetail({ id: product._id })'>{{product.name}}</a>
    </h1>
    <h4>Price: {{product.price | currency}}</h4>

    <a ui-sref='reviewsList({ id: product._id })'>{{product.ratings}}</a>
    <star-ratings product ="product" readonly="rating.isReadOnly"> </star-ratings>

    <h4 ng-repeat="category in product.category">
        {{category}}
    </h4>
    <button type="submit" ng-click="add(product._id)">Add to Cart</button>
</div>
