<div class="product-container">
    <div class="container">
        <div class="row">
            <div class="col-md-4" >
                <p class="lead">Categories</p>
                <div class="list-group cat-group">
                    <a ng-repeat="category in categories" ng-class="{active: activeCat == category}" ng-click="filterByCategory(category)" href="#" class="list-group-item cat-item">{{category}}</a>
                </div>
            </div>

            <div class="row">
                <div class=" col-md-4" ng-repeat="product in products">
                    <product-list product="product"></product-list>
                </div>
            </div>

        </div>

    </div>

</div>
