<div class="product-container">
  <div>
    <h1>Product List</h1>
      <div >
           <div >
      <button class="fixed"
              ng-repeat="category in categories"
              class="category-button"
              ng-click="filterByCategory(category)"
              ng-class="{active: activeCat == category}">{{ category }}
      </button>
           </div>
          <div  ng-repeat="product in products">
            <product-list product="product"></product-list>
        </div>
    </div>
  </div>
</div>
