
<div class="empty-cart" ng-hide="cart.items.length" >
  <fullstack-logo></fullstack-logo>
  <h3>To be unarmed is to be destroyed. Check out our <a ui-sref="productList">collection</a></h3>
</div>

<table class="table table-hover" ng-show="cart.items.length > 0">
	<thead>
		<tr>
			<th></th>
            <th>Item</th>
            <th>Type</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Item Total</th>
		</tr>
	</thead>
	<tbody>
		<tr class="cart-row" ng-repeat="item in cart.items track by $index">
            <!-- <td><a><span ng-click="remove(item.product._id)" ui-sref="cart"class="glyphicon glyphicon-remove"></span></a></td> -->
            <td><span ng-click="remove(item.product._id)" class="glyphicon glyphicon-remove remove-btn"></span></td>

            <td><a ui-sref="productDetail({ id: item.product._id })">{{item.product.name}}</a></td>
            
            <td>{{item.product.type}}</td>
            <td><span class="glyphicon glyphicon-minus cart-minus"   ng-click="update(item.product._id, -1)"></span>
            	&nbsp;&nbsp;{{item.quantity | number}}&nbsp;&nbsp;
                <span class="glyphicon glyphicon-plus cart-plus" ng-click="update(item.product._id, 1)"></span></td>
            <td>{{ item.unitPrice | currency}}</td>
            <td>{{ item.unitPrice * item.quantity | currency }}</td>
        </tr>
		
	</tbody>

	<tfoot>
		<tr>
			<td>Total:</td>
		</tr>
		<tr>
			<td>{{cart.total | currency}}</td>
		</tr>
	</tfoot>

</table>
<button class="checkout" ng-show="cart.items.length > 0" ui-sref="checkout({ id: cart._id})">Checkout</button>

