<div class="container">
  <div class="row">
    <div class="col-md-3">Confirm</div>
    <div class="col-md-3">Destination</div>
    <div class="col-md-3">Payment</div>
    <div class="col-md-3">Complete</div>
  </div>
  <div class="row">
      <div class="col-md-4">
      <order-summary order="order"></order-summary>
    </div>

    <div class="col-md-4" ng-show="step === 'confirm' && !isloggedIn">
      <h4>Login</h4>
      <form name="login-form">
        <div>
        <alert type="danger" ng-show="error">
          {{ error }}
        </alert>
        <label for="email">Email address</label>
        <input type="text" ng-model="login.email" class="form-control" id="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="login-password">Password</label>
        <input type="password" ng-model="login.password" class="form-control" id="login-password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    </div>

    <div class="col-md-4" ng-show="step === 'confirm' && !isloggedIn">
      <button btn  ng-click="confirmOrder()">Checkout As Guest</button>
    </div>

    <!-- shipping form -->
    <div ng-show="step === 'shipping'">
      <shipping-form></shipping-form>
    </div>
    
    

  </div>
  <pre>{{order | json}}</pre>
</div>