<div class="container">
<!--   <div class="row">
    <div class="col-md-3">Confirm</div>
    <div class="col-md-3">Address</div>
    <div class="col-md-3">Payment</div>
    <div class="col-md-3">Complete</div>
  </div> -->
  <h3>Checkout: <span class="step">{{ step | uppercase }}</span></h3>

  <div class="row">
      <div>
      <order-summary order="order"></order-summary>
    </div>

    <div class="col-md-4" ng-show="step === 'confirm' && !user">
      <h4>Login</h4>
      <form name="login-form">
        <div>
        <alert type="danger" ng-show="error">
          {{ error }}
        </alert>
        <label for="email">Email address</label>
        <input type="text" ng-model="login.email" class="form-control" id="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="login-password">Password</label>
        <input type="password" ng-model="login.password" class="form-control" id="login-password" placeholder="Password">
      </div>
      <button ng-click="sendLogin(login)" class="btn btn-default">Submit</button>
    </form>
    </div>

    <div class="col-md-4" ng-show="step === 'confirm' && !user">
      <button class="co-btn guest" ng-click="confirmOrder()">Checkout As Guest</button>
    </div>

    <!-- shipping form -->
    <div ng-show="step === 'address'">
      <address-form></address-form>
    </div>
    
    <div ng-show="step === 'payment'">
      <payment-form></payment-form>
    </div>
    

  </div>

</div>