* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  color: white;
}

$link-color: #f30046;
$accent-color: #fC0;
body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#greeting {
  color: white;
}

#main {
  padding-top: 60px;
  width: 1200px;
  margin: 0 auto;
}

.product-search {
  //position: absolute;
  left: 50%;
  top: 50%;

  margin-top: 20px;
  margin-left: -75px;
  width: 150px;
  height: 22px;
}

.cat-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.cat-list ul li {
  display: inline;
}

.cat-list ul li a {
  text-decoration: none;
  padding: .2em 1em;
  color: #fff;
  background-color: #036;
}

.cat-list ul li a:hover {
  color: #fff;
  background-color: #369;
}

body {
  color: white;
  height: 100vh;
  width: 100%;
  background: linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    url(http://www.mrwallpaper.com/wallpapers/star-wars-stormtrooper.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
    background-size: cover;

}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'checkout/main';
@import 'components/main';
@import 'cart/main';
@import 'products/main';
@import 'account/main';